.App {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  cursor: pointer !important;
}
