@import "variables.scss";
.appointment {
  width: 90%;
  padding: 25px;
  .table-wrapper {
    .table {
      table {
        background: $white;
        tbody {
          tr:last-child {
            td {
              border-bottom: 1px solid $greyLight;
            }
          }
        }
      }
    }
    .table-buttons {
      padding: 24px;
      display: flex;
      button {
        @include button(none, none, 1px solid $borderGrey);
        border-radius: 4px;
        padding: 7px 11px;
        margin: 4px;
        cursor: pointer;
        &:disabled {
          opacity: 0.7;
        }
        &:active,
        &:focus {
          background: $blue;
          color: $white;
        }
      }
    }
  }
  .icon {
    img {
      position: fixed;
      right: 0;
      bottom: 0;
      margin: 24px;
      cursor: pointer;
    }
  }
}
