@import "variables.scss";

@media only screen and (max-width: 1024px) {
  .Sidebar {
    @include flex(initial, center, column);
    width: 10%;
    .logo {
      img {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }
    }
    p {
      display: none;
    }
    nav {
      li {
        a {
          margin-left: 0px;
          span {
            display: none;
          }
        }
      }
    }
  }

  .search-and-notification {
    .search {
      width: 60%;
    }
    .notification-profile {
      width: 20%;
    }
  }
  .cards {
    @include grid(1fr 1fr, 1fr 1fr);
    place-items: center;
    .card-lists {
      width: 95%;
      margin: 10px 0;
      .info-and-number {
        margin-left: 10px;
      }
    }
  }
  .little-charts-container {
    flex-direction: column;
    .little-chart {
      width: 100%;
    }
  }
  .table {
    overflow: scroll;
  }
}
@media only screen and (max-width: 600px) {
  body {
    .search-and-notification {
      .notification-profile {
        width: 30%;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  body {
    .appointment {
      padding: 10px;
    }
    .cards {
      @include grid(1fr, repeat(4, 1fr));
      .card-lists {
        width: 100%;
      }
    }
    .search-and-notification {
      background: $white;
      box-shadow: $boxShadowDefault;
      .notification-profile {
        width: 35%;
      }
      .hamburger-menu {
        @include flex(center, center, column);
        flex-direction: column;
        margin-left: 16px;
      }
      .hamburger-rotate {
        .hamburger-line:first-child {
          transition: 0.5s;
          transform: rotate(-45deg) translate(-2px, 2px);
        }

        .hamburger-line:nth-child(2) {
          opacity: 0;
        }

        .hamburger-line:last-child {
          transition: 0.5s;
          transform: rotate(45deg) translate(-8px, -10px);
        }
      }
      .search {
        display: none;
        img {
          margin-left: 50px;
        }
      }
    }

    .Sidebar.active {
      left: 0;
      @include size(100%, 100vh);
      z-index: 1111;
    }
    .Sidebar {
      transition: 0.7s;
      position: fixed;
      top: 0;
      left: -100%;
      .search {
        @include flex(center, center, row);
      }
      .logo {
        img {
          &:first-child {
            display: block;
          }
          &:last-child {
            display: none;
          }
        }
      }
      li {
        padding: 5px;
        a {
          @include flex(flex-start, center, row);
          span {
            display: block;
          }
        }
      }
    }
    .table-wrapper {
      table {
        overflow: scroll;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  body {
    .search-and-notification {
      .hamburger-menu {
        margin-left: 7px;
        align-items: flex-start;
        .hamburger-line {
          width: 20px;
        }
      }
      .notification-profile {
        width: 50%;
      }
    }
  }
}
