@import "variables.scss";

.Sidebar {
  @include size (20%, 100vh);
  background-color: $white;
  box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
  position: sticky;
  top: 0;

  .logo {
    padding: 24px;
    img {
      &:last-child {
        display: none;
      }
    }
  }
  .search {
    background-color: $white;
    padding: 24px;
    display: none;

    input {
      outline: none;
      border: none;
      padding-left: 12px;
      width: 70%;
    }
  }
  p {
    @include fonts(400, 0.875rem, 1.25rem, 0.1px);
    color: $grey;
    padding: 14px 24px;
  }

  li {
    padding: 14px 5px;
    width: 100%;

    &:hover {
      svg {
        path {
          fill: $blueHover;
        }
      }
    }
    img {
      object-fit: contain;
    }
    a {
      text-decoration: none;
      @include fonts(700, 0.875rem, 1.25rem, 0.1px);
      color: $greyDark;
      margin-left: 20px;
      &:hover {
        color: $blueHover;
      }
      span {
        margin: 10px;
      }
    }
    &:last-child {
      border-top: 1px solid $borderGrey;
      margin-top: 22px;
      padding-top: 22px;
    }
  }
}
