@import "_variables.scss";
.table {
  background-color: $white;
  box-shadow: $boxShadowLarge;
  border-radius: 8px;

  h5 {
    margin: 24px;
  }
  table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    thead {
      background-color: rgba(232, 232, 232, 0.2);
      tr {
        th {
          @include fonts(700, 0.875rem, 1.25rem, 0.1px);
          padding: 20px;
          opacity: 1;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 15px;
          @include fonts(400, 0.875rem, 1.25rem, 0.1px);
          border-top: 1px solid $borderGrey;
          &:first-child {
            @include flex(inherit, center, row);
            img {
              margin-right: 10px;
            }
          }
          .image-name {
            @include flex(flex-start, center, row);
            img {
              margin-right: 12px;
            }
          }
          &:last-child {
            .image-name {
              img {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.modal {
  @include flex(space-evenly, center, column);
  height: 85%;
  .modal-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    button {
      @include button($blue, 1px solid $blue, none);
      color: $white;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        @include button(none, 1px solid $borderGrey, none);
        color: #000000;
      }
      &:first-child {
        margin-right: 5px;
      }
    }
  }
  form {
    @include flex(inherit, initial, column);
    input {
      outline: none;
      width: 100%;
      height: 25px;
      margin: 10px;
    }
  }
}
