@import "../../../styles/_variables.scss";
.table {
  background-color: $white;
  box-shadow: $boxShadowLarge;
  border-radius: 8px;

  h5 {
    margin: 24px;
  }
  table {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    thead {
      background-color: rgba(232, 232, 232, 0.2);
      tr {
        th {
          @include fonts(700, 0.875rem, 1.25rem, 0.1px);
          padding: 20px;
          opacity: 1;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 15px;
          @include fonts(400, 0.875rem, 1.25rem, 0.1px);
          border-top: 1px solid $borderGrey;
          &:first-child {
            @include flex(inherit, center, row);
            img {
              margin-right: 10px;
            }
          }
          .image-name {
            @include flex(flex-start, center, row);
            img {
              margin-right: 12px;
            }
          }
          &:last-child {
            .image-name {
              img {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
