@import "../../../styles/variables.scss";

.cards {
  @include flex(space-between, initial, row);
  margin: 15px 0;
  .card-lists {
    @include flex(initial, center, row);
    background-color: $white;
    padding-left: 24px;
    width: 22%;
    box-shadow: $boxShadowLarge;
    border-radius: 8px;
    .info-and-number {
      margin-left: 24px;
      p:first-child {
        @include fonts(700, 0.875rem, 1.25rem, 0.1px);
        text-align: left;
      }
      p:last-child {
        @include fonts(400, 1.125rem, 1.25rem, 0.1px);
        text-align: left;
        color: $blue;
      }
    }
  }
}
