@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", "Calibri", sans-serif;
}

html {
  font-size: 16px;
}


