@import "../../../styles/variables.scss";

.big-chart {
  box-shadow: $boxShadowLarge;
  border-radius: 8px;
  margin: 15px 0;
  background-color: $white;
  .apexcharts-legend.apexcharts-align-right .apexcharts-legend-series,
  .apexcharts-legend.apexcharts-align-left .apexcharts-legend-serie {
    display: flex !important;
  }
  .arrow_box {
    @include flex(center, center, row);
    position: relative;
    background: $white;
    border: 1px solid $white;
    box-shadow: $boxShadowSmall;
    @include size(100px, 32px);
  }
}
